.announce-area {
  /* max-height: 400px; */
  background-color: white;
}

.announce-display {
  /* max-height: 400px; */
  overflow: hidden;
  border-radius: 1.5rem;
}

.img-display {
  border-radius: 0;
  position: absolute;
  /* -o-object-fit: cover;
  object-fit: cover; */
  width: 100%;
}
@media (min-width: 1024px) {
  .announce {
    margin-left: 10px;
    max-width: 24%;
  }
}

.announce-img{
  padding:0px;
}

#announce-title{
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

#announce-summary{
  text-align: justify;
  
}

#link-sub{
  float: right;
  padding-top: 170px ;
}